<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fullstack Javascript QAP2 - 403 Forbidden</title>
  </head>
  <body>
    <h1>Fullstack Javascript QAP2 - 408 Request Timeout</h1>
    <h2>
      408 Request Timeout - response status code means that the server would
      like to shut down this unused connection.
    </h2>
  </body>
</html>
