<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fullstack Javascript QAP2 - 502 Bad Gateway Error</title>
  </head>
  <body>
    <h1>Fullstack Javascript QAP2 - 502 Bad Gateway Error</h1>
    <h2>
      This error response means that the server, while working as a gateway to
      get a response needed to handle the request, got an invalid response.
    </h2>
  </body>
</html>
