<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fullstack Javascript QAP2 - 504 Gateway Timeout Error</title>
  </head>
  <body>
    <h1>Fullstack Javascript QAP2 - 504 Gateway Timeout Error</h1>
    <h2>
      This error is given when the server is acting as a gateway and cannot get
      a response in time.
    </h2>
  </body>
</html>
